<div #container 
     class="container" 
    [style.width]="closedWidth + 'px'"
    [style.height]="closedHeight + 'px'"
    [style.box-shadow]="'0px 0px ' + ((openProgress == 0) ? 5 : 0) + 'px #000'"
    (click)="toggle()">
    <div *ngIf="openProgress == 0"
         style="position: absolute;"
        [style.top]="(offset ? (0-(openHeight-closedHeight)/3) : 0) + 'px'"
        [style.left]="(offset ? (0-(openWidth-closedWidth)/3) : 0) + 'px'">
        <img src="{{imageURL}}" [ngClass]="{'w3-grayscale':openProgress > 0}"/>
    </div> 
</div>

<div *ngIf="openProgress > 0"
     class="container open" 
    [style.width]="currentWidth + 'px'"
    [style.height]="currentHeight + 'px'"
    [style.left]="(getLeft()) + 'px'"
    [style.top]="getTop() + 'px'"
    (click)="toggle()">
    <div style="position: absolute;"
        [style.top]="(offset ? (0-(openHeight-currentHeight)/3) : 0) + 'px'"
        [style.left]="(offset ? (0-(openWidth-currentWidth)/3) : 0) + 'px'">
        <img src="{{imageURL}}"/>
        <ng-content></ng-content>
    </div> 
</div>

<div class="overlay w3-animate-opacity" *ngIf="openProgress > 0"></div>