<div class="parallax header" style="background-image: url('/assets/DSC02958.jpg');">
  <div class="header-text w3-animate-opacity">
    <h1>Marcus Münger</h1>
    <h3>The frontend of backend</h3>
  </div>
  <div class="scroll-down w3-animate-opacity">
    <span class="glyphicon glyphicon-menu-down"></span>
  </div>
</div>
<div class="content row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <h3>About</h3>
    <p>
      I am a driven developer who does full-stack and backend work.
      I love finding new challenges and solutions to both old and new problems. 
      This has guided me to try and learn as much as possible so that I can become the best developer that I can be.
    </p>
    <p>
      My free time consists working on hobby projects, watching movies and playing boardgames and roleplaying games.
    </p>
  </div>
</div>
<div class="parallax" style="background-image: url('/assets/DSC00368.jpg');"></div>
<div class="content">
  <h3>Skills</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <ul class="list-group">
        <li class="list-group-item">Java <span class="badge">Prefered</span></li>
        <li class="list-group-item">Hibernate</li>
        <li class="list-group-item">Jersey</li>
        <li class="list-group-item">Angular2</li>
        <li class="list-group-item">Javascript</li>
        <li class="list-group-item">CSS &amp; HTML</li>
        <li class="list-group-item">Documentum <span class="badge">D2, Webtop</span></li>
        <li class="list-group-item">Android</li>
        <li class="list-group-item">C#</li>
        <li class="list-group-item">.NET</li>
        <li class="list-group-item">MySQL</li>
        <li class="list-group-item">PHP</li>
      </ul>
    </div>
  </div>
</div>
<div class="parallax" style="background-image: url('/assets/DSC00738.jpg');"></div>
<div class="content">
  <h3>References</h3>
  <div class="row">
    <div class="col-md-8">
      <div class="quote">
          Marcus brinner för systemutveckling och att ta till sig nya tekniska utmaningar.
          Han är driven amitiös, engagerad och han har lätt att sätta sig in i såväl nya verksamhetsområden som tekniska svårigheter.
        <p>
          Marcus har utfört arbetsuppgifterna med utomordentligt gott resultat och vi ger honom våra allra bästa rekommendationer.
        </p>
        <div class="author-right">
          Marie Johansson - Läkemedelsverket
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div class="quote">
        It's fun to watch his mind at work. It's like watching a pilot fly a giant airplane. You think it could not possibly take off, yet all of a sudden it's rising as if it's light as a feather. 
        <div class="author-left">
          Lizinka Palmstierna - 24Money
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="quote">
          He is clever, not afraid to speak his mind and have an eye for IT-security
        <div class="author-right">
          Marika Svensson - 24Money
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax" style="background-image: url('/assets/DSC00288.jpg');"></div>
<div class="content">
  <h3>Experiences</h3>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4>Work</h4>
      <span class="timespan">2017-</span><span class="title">Backend developer</span> <span class="employer">24Money</span><br />
      <span class="workareas">Java, Jersey, Hibernate, OAuth, MySQL, OpenID Connect, Gluu, Tomcat, Gradle</span>
      <br />
      <span class="timespan">2015-2017</span><span class="title">Full-stack developer</span> <span class="employer">Läkemedelsverket</span><br />
      <span class="workareas">Java, .NET WPF, Angular2, Documentum, Tomcat</span>
    </div>
    <div class="col-md-5">
      <h4>Hobby</h4>
      <expand-modal [offset]="false" imageURL="/assets/wunderbaren.png" [closedHeight]="40" [closedWidth]="100">
        <p>
          some random text
        </p>
      </expand-modal>
      <span class="timespan">2017</span><span class="title">Wunderbaren</span><br />
      <span class="workareas">A webpage keeping track on prices and current stock in a bar</span>
    </div>
  </div>
</div>
<div class="parallax header" style="background-image: url('/assets/DSC02928.jpg');"></div>
<div class="content">
  <h3>Contact</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 col-sm-6">
      070 345 1965 <br />
      Swedenborgsgatan 34A<br />
      Uppsala<br />
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="mailto:marcusmunger@hotmail.com">mail</a><br />
      <a href="https://www.linkedin.com/in/marcus-m%C3%BCnger-034398123/">linkedin</a><br />
      <a href="assets/CV.pdf">CV</a><br />
    </div>
  </div>
</div>