.parallax
{
  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.header
{
  font-family: Arial, Helvetica, sans-serif;
  color: #DDD;
  position:relative;
  height: 925px;
}

.scroll-down
{
  position: absolute;
  font-size: 36px;
  right: 150px;
  bottom: 20px;
}

.content
{
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px;
  text-align: justify;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px;
  font-size: 16px;
}

.content h3
{
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.content h4
{
  font-weight: 600;
}

.timespan
{
  display: inline-block;
  font-style: italic;
  width: 100px;
}

.title
{
  font-weight: 600;
}

.employer
{
  font-size: 11px;
}

.workareas
{
  margin-left: 20px;
}

.contact
{
  padding-left: 500px;
  padding-right: 500px;
}


.header-text
{ 
  position: absolute;
  left: 150px;
  bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(50, 50, 50, 0.5)
}

.header h3
{
  margin-top: -10px;
  font-weight: 700;
}

.header h1
{
  font-weight: 900;
}

.quote::before
{
  content: "\"";
}

.quote
{
  font-size: 16px;
  font-weight: 600;
  color: #555;
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.author-right
{
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  text-align: right;
  margin-right: -30px;
}
.author-left
{
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  margin-left: -30px;
}